
uvicorn

langchain
langchain-core


PyPDF2
python-docx

aiohttp
python-multipart
PyMuPDF
pdfplumber
langchain-openai
langchain-anthropic
langchain-community

boto3
openai

asyncio
functions-framework
mangum
fastapi
pydantic
python-dotenv
google-cloud-secret-manager
langchain-groq

